<div id="login" class="page-wrap">
  <a href="/" class="watchtower-logo">Watchtower</a>
  <a href="/" class="watchtower-title site-title"><h1>Watchtower</h1></a>
  <div class="login-box">
    <a href="#" id="login-button" class="primary-button">Sign in via Google</a>
  </div>
  <div class="forgot-password">
    Having trouble signing in? <a href="#">Click here</a>
  </div>
</div>