// Colors
// ----------------------------------------------------------------------------
$color-white: #fff;
$color-black: #000;

$color-light-gray-1: #fefefe;
$color-light-gray-2: #e9e9e9;

$color-dark-gray-1: #777;
$color-dark-gray-2: #222;
$color-dark-gray-3: #34302D;

$color-light-green-1: #86C543;
$color-light-green-2: #63B210;

$color-error: #FF2D2D;
$color-warning: #F7C418;
$color-info: #1EBD47;

$color-active: #0BCCBE;
$color-inactive: #aaa;