// Common Settings
// ----------------------------------------------------------------------------
$base-pixel: 16;

$small-portrait: 320px;
$small-landscape: 480px;
$tablet-portrait: 600px;
$desktop: 960px;

$img-dir: "../images/";
$svg-dir: "../images/svg/";
$fonts-dir: "../fonts/";

$border-radius: 4px;
$large-border-radius: 7px;