<%- partial("../common/header") %>
<%- partial("../common/nav", {currentSection: "applications"}) %>

<div id="applications-new" class="page applications">
  <div class="page-wrap wrap">
    <div class="page-header">
      <h1 class="page-title">Edit Penguin</h1>
      <div class="header-actions">
        <a href="#" class="primary-button">Submit</a>
      </div>
    </div>

    <form method="POST" action="" enctype="multipart/form-data">
      <div class="field">
        <label for="app-name">Name</label>
        <input type="text" name="name" id="app-name" class="value" value="Penguin" />
      </div>
      <div class="field">
        <label for="app-logo">Logo</label>
        <div class="value media-upload">
          <img class="selected-image" src="<%- Util.toAssetsUrl('/images/default-app-icon.png') %>" />
          <input type="file" name="logo" id="app-logo" />
        </div>
      </div>
      <div class="field">
        <label>Status</label>
        <div class="value">
          <input type="checkbox" name="active" id="app-status" value="true" checked /><label for="app-status" class="checkbox-label">Active</label>
        </div>
      </div>
    </form>

  </div>
</div>