// Applications Index
// ----------------------------------------------------------------------------
#applications-table{
  .name{
    width: 45%;
  }

  .logs{
    width: 22%;
  }

  .status{
    width: 15%;
  }

  .date{
    width: 18%;
  }

  .list-body{
    .item{
      line-height: 30px;
    }

    .name a{
      margin-right: 1em;
    }

    .status{
      text-transform: uppercase;
      font-size: pxEm(13);
      letter-spacing: 2px;

      &.active{
        color: $color-active;
      }

      &.inactive{
        color: $color-inactive;
      }
    }
  }
}

#applications-new{
  form{
    margin-top: 2em;
    max-width: 500px;
  }
}