// Common
// ----------------------------------------------------------------------------
body {
  background: $color-light-gray-1;
}

a {
  text-decoration: none;
  cursor: pointer;
}


// Wrappers
// ----------------------------------------------------------------------------
.wrap {
  @include clearfix();
  max-width: pxEm(1100);
  position: relative;
  margin: auto;
  width: 100%;
}


// Page
// ----------------------------------------------------------------------------
.page{
  padding-top: pxEm(60);
}

.page-wrap{
  padding: pxEm(20) pxEm(24);
}

.page-header{
  border-bottom: 1px solid $color-light-gray-2;
  padding-bottom: pxEm(10,24);
  @include clearfix();

  .page-title{
    font-size: pxEm(24);
    line-height: pxEm(30,24);
    font-family: $header-font;
    font-weight: 600;
    float: left;

    img{
      margin-right: 10px;
      vertical-align: middle;
      width: 40px;
      height: auto;
    }
  }

  .header-actions{
    float: right;
  }
}


// Visibility
// ----------------------------------------------------------------------------
.hide {
  display: none !important;
}


// Scroll Helper Styles
// ----------------------------------------------------------------------------
.kill-scroll {
  overflow: hidden;
  height: 100%;
}


@include breakpoint(desktop-only) {
  .page{
    padding-left: 220px;
  }
}