// Users Index
// ----------------------------------------------------------------------------
#users-table{
  .name{
    width: 40%;
  }

  .email{
    width: 25%;
  }

  .status{
    width: 15%;
  }

  .date{
    width: 20%;
  }

  .list-body{
    .item{
      line-height: 30px;
    }

    .name a{
      margin-right: 1em;
    }

    .status{
      text-transform: uppercase;
      font-size: pxEm(13);
      letter-spacing: 2px;

      &.active{
        color: $color-active;
      }

      &.inactive{
        color: $color-inactive;
      }
    }
  }
}